In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
sc=SparkContext()
spark = SparkSession(sparkContext=sc)

## Import data

In [3]:
titanic = spark.read.csv("../../data/kaggle-titanic-train.csv",header=True,inferSchema=True)
titanic.show(n=5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

## Data Type

In [5]:
titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

## Summary

In [6]:
## number of variables
len(titanic.columns)

12

In [7]:
## number of observations
titanic.count()

891

In [8]:
## Summarizing each column
def describe_column(df):
    for i in df.columns:
        print("Column:" + i)
        titanic.select(i).describe().show()

'891'

In [25]:
## Find missing values
def find_missing_value(df):
    nrow = df.count()
    for x in df.columns:
        summary_df = df.select(x).describe()
        x_count = int(summary_df.collect()[0][1])
        if x_count < nrow:
            number_of_missing_value = nrow-x_count
            print("Total Observation: " + str(nrow) + "\n"
                 "Total Observation of" + x + ": " + str(x_count)+  "\n"
                 "Total missing value of" +x + ": " + str(number_of_missing_value)+"\n"
                 "--------------------")

In [26]:
find_missing_value(titanic)

Total Observation: 891
Total Observation ofAge: 714
Total missing value ofAge: 177
--------------------
Total Observation: 891
Total Observation ofCabin: 204
Total missing value ofCabin: 687
--------------------
Total Observation: 891
Total Observation ofEmbarked: 889
Total missing value ofEmbarked: 2
--------------------